@font-face {
    font-family: vogue;
    src: url(../fonts/Vogue.ttf);
}

/*CLASSES*/
.heading {
    color: green;
    text-align: left;
    text-decoration: underline;
}

.list {
    text-align: left;
}
