@font-face {
    font-family: squidgame;
    src: url(../fonts/squidgame.ttf);
}

:root {
    --background-grey: #201d33;
    --modPurple: #325278; /* Use lime? */
    --gry: greenyellow;
    color: white;
}

body {
    background-color: var(--background-grey);
    margin: 0;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
}

h1 {
    color: var(--gry);
    font-family: squidgame;
    text-align: center;
    margin: 0;
}

h2, h2 a:visited, h2 a {
    text-decoration: none;
    text-align: center;
    color: inherit;
    font-size: 4rem;
    font-family: Impact, sans-serif; /* CHOOSE A BETTER FONT */
    line-height: 1.75;
}

h2:nth-of-type(even) {
    color: var(--modPurple)
}

h3 {
    font-family: 'squidgame';
    color: var(--gry);
    font-size: 1.75rem;
}

h4 {
    color: var(--modPurple);
    /* Choose font face */
    font-size: 1.5rem;
}

p {
    white-space: nowrap;
}

/* CLASSES */
.icons {
    font-family: 'Material Icons';
    font-size: 2.125rem;
    display: block;
    margin: 0;
    margin-top: 1vh;
    float: right;
}

.header {
    overflow: hidden; 
    background: black; 
    padding: 1vh;
}

.body {
    margin-top : 8px;
    margin-left: 16px;
    margin-right: 16px;
}

.left {
    float:left;
    text-align: left;
    display: block;
    margin-left: auto;
}

.right {
    float:right;
    text-align: right;

}

.centre {
    float:center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrescreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/* Store item classes */
    .store-item {
        position: relative;
        width: 275px;
        height: auto;
        margin: calc(5vh/4);
        background-color: var(--modPurple); /*  TODO CHANGE THIS */
        border: 1px solid white;
        border-radius: 10px;
        display: inline-block;
        margin-right: calc(5vw);
        margin-left: calc(5vw);
    }

    /* .store-item:nth-of-type(odd) {
        margin-right: calc(5vw/2);
    }

    .store-item:nth-of-type(even) {
        margin-left: calc(5vw/2);
    } */

    .store-item img {
        margin: 10%;
        width: 220px;
        height: 220px;
    }

    .store-item button {
        background-color: black;
        border: 1px solid green;
        border-radius: 10%;
        width: 30%;
        font-size: 0.95rem;
        padding-left: 1vw;
        padding-right: 1vw;
        font-family: 'Material Icons';
        font-size: 1.75rem;
        margin: 0;
        display: inline;
        float:center
    }

    .store-item input[type=number] {
        width: 30%;
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 150%;
        display: inline;
        float: center;
        margin-top: 0;
    }

    .store-item h2 {
        margin: auto;
        color: white;
    }

    .store-item a, .store-item a:visited {
        text-decoration: none;
        color:red;
    }
    
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance:textfield;
    }

/* SIGNUP .PHP */

    fieldset{
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right:auto;
    }

    .signup-form{
        font-family: 'Mohave';
        padding-left:10vw;
        padding-right: 5vw;
        max-width: fit-content;
    }

    .signup-form p {
        font-family: 'Teko';
        font-size: 1.25rem;
    }

    .signup-form label, .signup-form input {
        font-weight: bold;
        font-size: 1.4rem;
    }

    .signup-form hr {
        width: 100%;
        align-self: center;
    }

    .signup-form input[type=submit] {
        margin-top: 20vh;
        margin-bottom: 5vh;
        background-color:greenyellow;
        color: maroon;
        font-family: 'Mohave';
    }

    .signup-form input[type=text], .signup-form input[type=email] {
        text-align: left;
        font-family: 'Teko';
    }